
.Login{
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    text-align: center;
    
    margin: 0 auto;
    margin-top: 300px;
    
}

h2{
    color:black;
}
.button{
    margin-top: 20px;
    width: 240px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
}

input{
    width: 240px;
    height: 30px;
    border-radius: 5px;
    
}

.title{
    color: red;
}

